<ion-view title="Giphy Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>{{gifs.name}}</h2>
        <div ng-repeat="gif in gifs.links" style="padding-bottom: 17px;">
            <img  src="{{gif}}" width="100%" height="block" style="width: 100%;">
            <div class="button-bar">
                <a class="button">First</a>
                <a class="button">Second</a>
                <a class="button">Third</a>
            </div>

        </div>


        <!--This will be displayed in case giphy was not retrieved-->
        <!--<div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; width: 100%; height: auto;">-->
            <!--<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
        <!--</div>-->
    </ion-content>
</ion-view>
