<ion-view title="Giphio">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Giphy search</h1>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="search..." ng-model="search">
            </label>
        </form>
        <button class="button button-block button-positive" ng-click="take_me(search)">
		  Give me Giphys!
		</button>
    </ion-content>
</ion-view>